# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*/build/
*/.vscode/
*Lists.txt
*.code-workspace
*.stackdump
.DS_Store
25_Josephus/test_function_output.dSYM/Contents/Info.plist
25_Josephus/test_function_output.dSYM/Contents/Resources/DWARF/test_function_output
25_Josephus/test_function_output
